@import '../variables/responsive';

.flex {
  display: flex;
}

.withGutter {
  margin: -1rem;

  > * {
    margin: 1rem;
  }
}

.responsive {
  @media (max-width: $small-screen) {
    display: block;
    // flex-wrap: wrap;

    > * {
      display: block;
      width: 100%;
    }
  }
}
