@import '../variables/responsive';

.flex {
  display: flex;

  &[hidden] { display: none; }
}

.withGutter {
  margin: -1rem;

  > * {
    margin: 1rem;
  }
}

.responsive {
  @media (max-width: $small-screen) {
    display: block;
    // flex-wrap: wrap;

    &[hidden] { display: none; }

    > * {
      display: block;
      width: 100%;
    }

    &.withGutter {
      margin: -1rem 0;
      > * {
        margin: 1rem 0;
      }
    }
  }
}
