@import "~@material/typography/_variables";
@import "~@material/theme/_variables";
@import '../variables/page';
@import '../variables/responsive';

:global {
  html {
    /* Prevents iOS text size adjust after orientation change, without disabling user zoom. */
    height: 100%;
    text-size-adjust: 100%;
  }

  body {
    font: normal 100% $mdc-typography-font-family;
    font-display: block;
    line-height: 1.5;
    min-height: 100%;
    /* http://stackoverflow.com/questions/11589985/webkit-text-aliasing-gets-weird-during-css3-animations */
    -webkit-backface-visibility: hidden;

    @media only screen and (min-width: $small-screen) and (max-width: $large-screen) {
      font-size: 90%;
    }

    color: $body-color;
    background: $body-background;
  }

  // polyfills

  *[hidden] { display: none; }
}
