@import '../variables/responsive';

.flex {
  display: flex;
}

.responsive {
  @media (max-width: $small-screen) {
    display: block;
    // flex-wrap: wrap;

    > * {
      display: block;
      width: 100%;
    }
  }
}

.itemStart {
  align-self: flex-start;
  flex-grow: 0;
}

.itemEnd {
  align-self: flex-end;
  flex-grow: 0;
}

.itemCenter {
  align-self: center;
  flex-grow: 0;
}

.itemStretch {
  align-self: stretch;
  flex-grow: 1;
}
