@import '../variables/buttons';
@import '../mixins/block';
@import '../mixins/typography';

.resetButton {
  appearance: none;
  font: inherit;
  cursor: pointer;
  background: none;
  border: none;
  padding-inline-end: 0; // firefox
  padding-inline-start: 0; // firefox

  &::-moz-focus-inner {
    padding: 0;
    border: 0
  }
}

.container {
  @extend .resetButton;
  display: inline-block;
  padding: $button-container-padding;
  text-decoration: none; // when a container is <a>
}

.containerDisabled {
  cursor: default; // cursor: pointer; defined in .resetButton()
}

.button {
  display: inline-flex;
  align-items: center;
  background: $button-background;
  @include textButton();
  @include z-depth-1();
  border-radius: 2px;
  border: $button-border;
  color: $button-color;
  text-shadow: $button-textShadow;
  padding: $button-topBottom-padding $button-leftRight-padding;
  transition: all .4s;
  text-decoration: none;
  vertical-align: middle;
  line-height: 1.2;
  min-width: 4rem;

  @at-root .container {
    &:hover .button:not(:disabled):not([disabled]):not(.disabled) {
      background: $button-hover-background;
      color: $button-hover-color;
      border: $button-hover-border;
      @include z-depth-1-hover();
    }
  }
}

.disabled {
  background: $button-disabled-background;
  color: $button-disabled-color;
  box-shadow: none;
  cursor: default;

  &:hover {
    background: $button-disabled-background;
    color: $button-disabled-color;
  }
}

.button:disabled, .button[disabled] {
  @extend .disabled;
}

.wp-100 {
  width: 100%;
  text-align: center;
}

.flat {
  box-shadow: none;
  background-color: transparent;
  color: $button-flat-color;
}

.container:hover .flat {
  box-shadow: none;
  color: $button-flat-hover-color;
  background-color: rgba($button-flat-hover-color, .12);
}

.flat-disabled {
  @extend .disabled;
  background-color: transparent;
  color: $button-flat-disabled-color;
}

.icon {
  margin-right: .5em;
  display: inline-flex;
  align-items: center;
}
