@import '../mixins/block';
@import '../mixins/typography';

$card-background: #fff !default;
$card-padding: 1rem !default;

.card {
  position: relative;
  overflow: hidden;
  background: $card-background;
  @include z-depth-1();
}

.title {
  @include light();
}

.content {
  padding: $card-padding;
}
