@import '../variables/mdc-compatibility';
@import '~@material/theme/_mixins';
@import '~@material/elevation/_mixins';
@import '../mixins/block';
@import '../mixins/position';

.list {
  @include absolute($left: 0, $right: 0, $top: 100%);
  @include mdc-elevation(2);
  background: #fff;
  margin: 0 !important; // override `.list .list` margin
  border-left: none !important; // override `.list .list` border
  border-right: none !important; // override `.list .list` border
  text-align: left; // can override a wrong text-align
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  // transition: property duration delay
  // wait .2s before hiding the list
  transition: visibility .1s .2s, opacity .3s;
}

@mixin dropdownHover() {
  @include mdc-elevation(2);
  transition: box-shadow .4s .02s; // show box-shadow with a little delay
}

.dropdownContainer {
  position: relative;
  display: inline-block;
  padding: 0;

  &:not(.disabled):hover {
    > .list {
      visibility: visible;
      opacity: 1;
      // run visibility transition to show without delay (remove box-shadow from parent)
      transition: opacity .3s, visibility 0s 0s, box-shadow .4s .02s;
    }

    .dropdown {
      @include dropdownHover();
    }

    .button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.dropdown {
  // padding: 0 .2rem;
  cursor: default;

  &:not(.disabled):hover {
    @include dropdownHover();
  }

  .arrow {
    display: inline-block;
    font-size: .7em;
    vertical-align: middle;
    padding-left: .5em;
  }

  &.disabled .arrow {
    @include mdc-theme-prop(color, text-disabled-on-light);
  }
}
