@import '../mixins/colors';
@import '../mixins/typography';
@import '../variables/colors';

$label-color: find-best-fg-color($primary-color, 70%);
$badge-color: #777 !default;

/* Used to display a number of items eg Messages (10) */
.label {
  @include bold();
  display: inline-block;
  padding: .1em .4rem;
  font-size: .8em;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background: $primary-color;
  @include color($label-color);
}

/* Used to display a number of items eg Messages (10) */
.badge {
  @extend .label;
  background: $badge-color;
  color: find-best-fg-color($badge-color);
  border-radius: 1em;
  vertical-align: middle;
  margin-top: -2px;

  &:empty {
    display: none;
  }
}

.success {
  background: $valid-color;
  @if find-best-fg-color($valid-color, 70%) != $label-color {
    @include color(find-best-fg-color($valid-color, 70%));
  }
}

.error {
  background: $invalid-color;
  @if find-best-fg-color($invalid-color, 70%) != $label-color {
    @include color(find-best-fg-color($invalid-color, 70%));
  }
}

.warning {
  background: $warning-color;
  @if find-best-fg-color($warning-color, 70%) != $label-color {
    @include color(find-best-fg-color($warning-color, 70%));
  }
}
