@import '../variables/colors';
@import '../mixins/position';

$loading-bar-height: 2px !default;
$loading-bar-z-index: 2 !default;
$loading-bar-background: #fff !default;
$loading-bar-color: $primary-color !default;

.loading-bar {
  @include fixed($top: 0, $left: 0, $right: 0);
  display: none;
  width: 100%;
  height: $loading-bar-height;
  z-index: $loading-bar-z-index;
  pointer-events: none;
  background: $loading-bar-background;
  border-radius: 0 1px 1px 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  transition: width .4s;
}

.progress {
  height: $loading-bar-height;
  background: $loading-bar-color;
  width: 1%;
}
