@import '../variables/interactions';

.selectable {
  > * {
    border-left: 3px solid rgba($interaction-default-border-color, .7);
    cursor: pointer;
    > a {
      color: inherit;
      text-decoration: none;
    }
  }

  > :hover {
    background: $interaction-hover-background;
    @if $interaction-hover-border-color != $interaction-default-border-color {
      border-left-color: $interaction-hover-border-color;
    } @else {
      border-left-color: $interaction-default-border-color;
    }
  }

  > .current {
    @if $interaction-current-border-color != $interaction-default-border-color {
      border-left-color: $interaction-current-border-color;
    } @else {
      border-left-color: $interaction-default-border-color;
    }
    background: $interaction-current-background;
    &:hover {
      background: $interaction-hover-background;
    }
  }
}
