@import '../mixins/typography';
@import '../variables/table';

.table {
  width: 100%;

  thead {
    border-bottom: 1px solid $table-border-color;
  }

  th {
    @include bold();
    padding: 1px;
  }
}

.bordered tr {
  border-bottom: 1px solid $table-border-color;
}

.striped {
  tbody tr:nth-child(even) {
    background-color: $table-striped-color;
  }
}
.centered {
  thead tr th, tbody tr td {
    text-align: center;
  }
}

.shrink {
  white-space: nowrap;
  width: 1px;
}
