@import '../../mixins/block';
@import '../../variables/list';

.list {
  @include block-margin();
  color: $list-color;
  background: $list-background;

  > * {
    padding-left: 1rem;
    line-height: 2rem;
  }

  .list {
    border-left: $list-border;
    border-right: none;
    margin: 0 0 0 5px;
  }
}

.multiline {
  > * {
    padding: .5rem 0;
    // border-bottom $list-border
    line-height: inherit;

    &:last-child {
      border-bottom: none;
    }
  }
}

.links {
  > * > a {
    display: block;
    text-decoration: none;
  }
}
