@import '../../mixins/block';
@import '../../variables/list';

.vertical {
  display: inline-flex;
  //align-items: stretch;
  //align-content: stretch;
  margin-bottom: $default-topBottom-margin;

  > * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-right: $list-border;
    padding: $list-item-vertical-padding;

    &:last-child {
      border-right: none;
    }
  }
}
