@import '../variables/base';

@mixin block-margin() {
  margin: $default-topBottom-margin 0;

  &:first-child {
    margin-top: 0;
  }
}

@mixin block-center() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin z-depth-1() {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@mixin z-depth-1-hover() {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 7px 0 rgba(0, 0, 0, 0.25);
}
