@import '../variables/responsive';

@mixin flexRow() {
  display: flex;
  flex: 0 1 auto;
  // cause issues: width: 100%;
  flex-flow: row nowrap;
  align-items: stretch;

  > * {
    flex-grow: 1;
    display: block;
  }
}

@mixin flexRowResponsive() {
  @media (max-width: $small-screen) {
    display: block;
    // flex-wrap: wrap;

    > * {
      display: block;
      width: 100%;
    }
  }
}
