@import '../mixins/typography';
@import '../variables/base';
@import '../variables/form';

:global {
  // noinspection CssInvalidPseudoSelector
  ::placeholder {
    color: $form-placeholder-color;
  }

  fieldset {
    border: none;
    border-top: $form-fieldset-border;
    margin: $default-topBottom-margin 0;
    padding: $form-fieldset-padding;
  }

  legend {
    @include medium();
    margin: $form-legend-margin;
    padding: $form-legend-padding;
  }
}
