@import '../mixins/block';
@import '../mixins/position';
@import '../variables/form';

.input {
  position: relative;
  @include block-margin();

  label {
    display: block;
    width: auto;
  }
}

.text input, .text textarea, .select select, .input .input-div {
  width: 100%;
  height: 2rem;
  font-size: 100%;
  font-family: inherit;
  background-color: inherit;
  transition: all .3s;
  outline: none;
  border: 0;
  border-radius: 0; /* google chrome select */
}

.text > input, .text > textarea, .select > select, .input > .input-div {
  margin-top: 1rem;
  border-bottom: $form-default-border;
}

.text input, .text textarea, .select select, .input .input-div {
  &:hover, &:hover:invalid:placeholder-shown {
    border-bottom-color: $form-hover-border-color;
  }

  &:focus, &:focus:invalid:placeholder-shown {
    border-bottom-color: $form-focus-border-color;
    box-shadow: 0 1px 0 0 $form-focus-shadow-color;
  }

  /* label */

  + label {
      @include absolute($left: 0);
      color: $form-label-unfocused-color;
      transition: color .2s;
  }

  &:placeholder-shown + label {
    top: 1rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 100%;
    color: $form-label-placeholder-color;
    cursor: text;
    transition: all .3s;
  }

  + label, &:focus + label, &[placeholder]:not([placeholder=""]) + label {
    top: .2rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 80%;
    cursor: default;
    white-space: nowrap;
  }


  &:focus + label {
    color: $form-focus-label-color;
    outline: none;
  }

  /* invalid */

  &:invalid {
    box-shadow: none;
  }

  &:not(:placeholder-shown):invalid {
    border-bottom: 1px solid $invalid-color;
    box-shadow: 0 1px 0 0 $invalid-color;
  }

  &:not(:placeholder-shown):focus:invalid + label {
    color: $invalid-color;
  }
}

.input .input-div {
  margin-top: 0;
  padding-top: 1rem;
  height: 3rem;
}


.withIcon {
  input {
    padding-left: 2rem;

    + label, &:focus + label, &[placeholder]:not([placeholder=""]) + label {
      padding-left: 2rem;
    }
  }

  @at-root {
    .icon {
      @include absolute($left: 0, $top: 1rem);
      height: 2rem;
      line-height: 2rem;
      width: 2rem;
      font-size: 1rem;
      padding: 0 .5rem;
      color: $form-input-icon-unfocused-color;
      text-align: center;
    }

    input:focus ~ .icon {
      color: $form-input-icon-focus-color;
    }
  }
}

.noMargin {
  margin: 0;

  input, select {
    margin-top: 0;
  }

  .icon, &.select:after {
    top: 0 !important;
  }
}

.input {
  /* SELECT */

  select {
    appearance: none;
    display: inline-block;
    padding-right: 1.5rem;

    &:focus {
      outline: none;
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }

    &:-moz-focusring {
      /* to avoid the "outline" in firefox */
      transition: none;
      outline: none;
      color: rgba(0,0,0,0);
      text-shadow: 0 0 0 #000;
    }
  }

  @at-root {
    .select:after {
      content: "▼";
      @include absolute($top: 1rem, $right: 0, $bottom: 0);
      font-size: 60%;
      line-height: 2rem;
      height: 2rem;
      padding-right: .5rem;
      pointer-events: none;
    }
  }
}

/* RADIO AND CHECKBOX */

/* Remove default radio and checkbox buttons */
/* Everything but IE6-8 */
:root *> {
  .input {
    input[type="radio"], input[type="checkbox"] {
      @include absolute($left: -99999px);
      visibility: hidden;
      & + label {
        padding-left: 1.2rem;
      }
    }
  }
}

.input {
  @at-root {
    .radio ~ .radio, .checkbox ~ .checkbox {
      margin: .5rem 0;
    }

    .radio, .checkbox {
      margin: 1rem 0 .5rem;
    }

    .radio, .checkbox {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  input[type="radio"], input[type="checkbox"] {
    & + label {
      position: relative;
      cursor: pointer;
      display: inline-block;
      height: 1rem;
      line-height: 1rem;

      user-select: none;

      &::before, &::after {
        content: '';
        box-sizing: border-box;
        @include absolute($left: .1rem, $top: .1rem);
        width: .8rem;
        height: .8rem;
        z-index: 0;
        transition: all .2s;
      }
    }
  }

  input[type="checkbox"] & + label {
    &::before, &::after {
      transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    }
  }

  /* Unchecked styles */
  input[type="radio"]:not(:checked) + label::before {
    border-radius: 50%;
    border: 2px solid #5a5a5a;
  }
  input[type="radio"]:not(:checked) + label::after {
    border-radius: 50%;
    border: 2px solid #5a5a5a;
    z-index: -1;

    transform: scale(0);
  }

  input[type="checkbox"]:not(:checked) + label::before {
    border: 2px solid #5a5a5a;
  }

  /* Checked styles */
  input[type="radio"]:checked {
    & + label::before {
      border-radius: 50%;
      border: 2px solid transparent;
    }

    & + label::after {
      border-radius: 50%;
      border: 2px solid $primary-color;
      background-color: $primary-color;
    }
  }

  input[type="checkbox"]:checked {
    & + label::before {
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotateZ(37deg);
      transform-origin: 100% 100%;
      z-index: 1;
      top: 0;
      left: 1px;
      width: .4rem;
      height: .8rem;
    }

    & + label::after {
      border: 2px solid $primary-color;
      background-color: $primary-color;
    }
  }


  /* DISABLED */

  input:disabled, textarea:disabled, option:disabled, optgroup:disabled, select:disabled {
    background-color: $form-disabled-background;
    color: $form-disabled-color;
    border-bottom: 1px dotted $form-disabled-border-color;
  }

  input[type="radio"]:disabled + label, input[type="checkbox"]:disabled + label {
    color: $form-disabled-color;
  }

  input[type="radio"]:disabled, input[type="checkbox"]:disabled {
    &:not(:checked) + label:before {
      border-color: $form-disabled-color;
    }
  }
}
