@import '../variables/form';

.container {
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
  color: $form-label-unfocused-color;
}

.icon {
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
  width: 2rem;
  font-size: 1rem;
  padding: 0 .5rem;
  color: $form-input-icon-unfocused-color;
  text-align: center;
  vertical-align: top;
}

.label {
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
}
