$base-border-radius: 2px !default;

$default-topBottom-margin: 1rem !default;
$default-leftRight-margin: 1rem !default;
$default-topBottom-padding: 0.2rem !default;
$default-leftRight-padding: 0.3rem !default;
