@import 'colors';

$form-default-border: 1px solid #cfd0d1 !default;
$form-hover-border-color: null !default;
$form-focus-color: $primary-color !default;
$form-focus-border-color: $form-focus-color !default;
$form-focus-shadow-color: $form-focus-color !default;
$form-focus-label-color: $form-focus-color !default;
$form-fieldset-padding: 1rem !default;
$form-fieldset-border: $form-default-border !default;
$form-legend-padding: 0 .5rem !default;
$form-placeholder-color: #bdbdbd !default;
$form-label-unfocused-color: $form-placeholder-color !default;
$form-label-placeholder-color: $form-label-unfocused-color !default;
$form-disabled-color: $disabled-color !default;
$form-disabled-background: rgba(111, 111, 111, .1) !default;
$form-disabled-border-color: $disabled-border-color !default;
$form-input-icon-unfocused-color: #7d7d7d !default;
$form-input-icon-focus-color: inherit !default;
