// $primary-color: #435A64 !default;
$primary-color: #2580A2 !default;

$interaction-default-color: #20718d !default;
$interaction-current-color: #e65730 !default;
$interaction-hover-color: $interaction-current-color !default;

// $interaction-default-background-color: #2580A2 !default;
$interaction-default-border-color: null !default;
$interaction-current-border-color: #8D203A !default;
$interaction-hover-border-color: $interaction-default-border-color !default;

$pre-color: #eee !default;
$pre-background: #1b2426 !default;

$blockquote-border-color: $primary-color !default;
