@import './colors';
@import '../mixins/colors';

$button-container-padding: .5rem !default;
$button-background: $primary-color !default;
$button-color: find-best-fg-color($button-background) !default;
$button-border: none !default;
$button-topBottom-padding: .6rem !default;
$button-leftRight-padding: 1rem !default;
$button-textShadow: null !default;

$button-hover-background: lighten($button-background, 5%) !default;
$button-hover-color: $button-color !default;
$button-hover-border: null !default;
$button-focus-background: null !default;
$button-disabled-background: #DFDFDF !default;
$button-disabled-color: #555555 !default;

$button-flat-color: $primary-color !default;
$button-flat-disabled-color: $disabled-color !default;
$button-flat-hover-color: darken($button-flat-color, 10%) !default;
