$primary-color: #333 !default;
$highlight-background-color: #ff0 !default;
$valid-color: #008000 !default;
$invalid-color: #ff6347 !default;
$warning-color: #f1bc00 !default;
$info-color: #0000ff !default;

$disabled-color: #c7c7c7 !default;
$disabled-border-color: #b9b8b9 !default;

$white-foreground-color: #FFF !default;
$black-foreground-color: #333 !default;

$black-background-color: #111 !default;
$white-background-color: #fafafa !default;
