$body-color: #333 !default;
$body-background: #FFF !default;
$font-family: Roboto,'Droid Sans','Segoe UI',Helvetica,Arial,sans-serif !default;
$font-monospace: 95% Menlo, Monaco, Consolas, monospace !default;
