 @import '../variables/interactions';

:global {
  a {
    color: $interaction-default-color;
    text-decoration: underline;
    word-wrap: normal;
    hyphens: manual;
    text-shadow: $interaction-default-text-shadow;
  }

  a[onclick] {
    cursor: pointer;
  }

  @if $interaction-current-color == $interaction-hover-color {
    a:hover, a.current {
      color: $interaction-current-color;
    }
  } @else {
    a.current {
      color: $interaction-current-color;
    }
    a:hover {
      color: $interaction-hover-color;
    }
  }

  [contenteditable]:hover {
    outline: 1px dotted $interaction-hover-color;
  }

  [contenteditable]:focus {
    outline: 1px solid $interaction-current-color;
  }
}
