@import '../../variables/base';

.vertical {
  display: inline-flex;
  flex-flow: row wrap;
  //align-items: stretch;
  //align-content: stretch;
  margin-bottom: $default-topBottom-margin;

  > * {
    display: inline-flex !important;
    // important: override inline-block in dropdown for example
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    white-space: nowrap;
  }
}
