@import '../variables/form';

.icon {
  display: inline-block;
  height: 1em;
  line-height: 1em;
  width: 1em;
  font-size: 1em;
  margin-right: .5rem;
  text-align: center;
  vertical-align: top;
}
