$loading-bar-height: 4px !default;
$loading-bar-z-index: 2 !default;
$loading-bar-background: #fff !default;
$loading-bar-color: $primary-color !default;

.loadingBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: $loading-bar-height + 2px;
  z-index: $loading-bar-z-index;
  pointer-events: none;
  background: $loading-bar-background;
  border-radius: 0 1px 1px 0;
  box-shadow: 0 1px 6px rgba(25, 25, 25, .7);
  transition: opacity .4s, height .4s;
  opacity: 1;
}

.progress {
  height: 100%;
  background: $loading-bar-color;
  transition: width .3s;
}
