@import '../variables/responsive';

.extraSmallOnly, .smallOnly, .mediumOnly,
.smallAndUp, .mediumAndUp, .largeAndUp {
  display: none;
}

/* x-Only */

@media (max-width: $small-screen) {
  .extraSmallOnly {
    display: initial !important;
  }
}

@media (min-width: $small-screen) and (max-width: $small-screen-up) {
  .smallOnly {
    display: initial !important;
  }
}

@media (min-width: $medium-screen) and (max-width: $medium-screen-up) {
  .mediumOnly {
    display: initial !important;
  }
}

/* x-AndUp */

@media (min-width: $small-screen) {
  .smallAndUp {
    display: initial !important;
  }
}

@media (min-width: $medium-screen) {
  .mediumAndUp {
    display: initial !important;
  }
}

@media (min-width: $large-screen) {
   .largeAndUp {
     display: initial !important;
   }
 }
