@import '../variables/mdc-compatibility';
@import "~@material/tabs/mdc-tabs.scss";

// bring back tab border without mdc-tab-bar__indicator
.mdc-tab-bar:not(.mdc-tab-bar-upgraded) .mdc-tab {
  position: relative;

  &::after {
    display: none;
    position: absolute;
    top: $mdc-tab-with-text-height - 2px;
    left: 0;
    width: calc(100% - 4px);
    height: 2px;
    content: "";
    pointer-events: none;

    @include mdc-theme-prop(background-color, text-primary-on-light);

    @include mdc-theme-dark(".mdc-tab-bar", true) {
      @include mdc-theme-prop(background-color, text-primary-on-dark);
    }

    .mdc-toolbar & {
      @include mdc-theme-prop(background-color, text-primary-on-primary);
    }
  }

  &--active,
  &:active,
  &:hover {
    &::after {
      display: block;
    }
  }

  &:not(.mdc-tab--active):hover::after {
    opacity: .38;
  }

  &--active,
  &:not(.mdc-tab--active):active::after {
    opacity: .87;
  }
}
